@font-face{
    src: url(../fonts/CirceB.otf);
    font-family: "Bold";
}
@font-face{
    src: url(../fonts/CirceL.otf);
    font-family: "Light";
}
@font-face{
    src: url(../fonts/fontello.ttf);
    font-family: "Ft";
}
html{
    font-size: 10px;
}
body{
    margin: 0;
}
section{
    margin-bottom: 3rem;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.header{
    &__contacts{
        background-color: #e9e9e9;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__links{
        margin-left: 15rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    &__icon{
        padding: 0.5rem;
        font-family: "Ft";
        font-size: 2rem;
        color: #666666;
        text-decoration: none;
    }
    &__city{
        text-decoration: underline;
        font-family: "Light";
        font-size: 1.4rem;
        color: #666666;
        margin-right: 3rem;
    }
    &__phone{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 15rem;
    }
    &__icon--phone{
        margin: 0rem;
        padding: 0.5rem;
        font-family: "Ft";
        font-size: 2rem;
        color: #666666;
        text-decoration: none;
    }
    &__number{
        font-family: "Light";
        font-size: 1.4rem;
        color: #666666;
    }
    &__form{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 15rem;
    }
    &__lable{
        cursor: pointer;
        font-family: "Ft";
        font-size: 1.4rem;
        color: #cfcfcf;
        padding: 0rem 0.5rem;
    }
    &__input{
        border: none;
        font-family: "Light";
        color: #666666;
        outline:none;
    }
    &__logo--image{
        margin: 1rem 0rem;
    }
    &__logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .icon--last{
        margin-right: 15rem;
    }
    &__icon--logo{
        padding: 0.5rem;
        font-family: "Ft";
        font-size: 2rem;
        color: #666666;
        text-decoration: none;
        margin-right: 3rem;
    }
    &__menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #e9e9e9;
    }
    &__menu--title{
        font-family: "Bold";
        font-size: 1.4rem;
        color: #666666;
        text-decoration: none;
        padding: 1rem 1.5rem;
    }
    .icon--little{
        font-size: 1.4rem;
    }
}
.banner{
    width: 100%;
    height: 27rem;
    background-image: url(../img/banner.jpg);
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    &__contant{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__maintitle{
        font-family: 'Bold';
        font-size: 4rem;
        color: black;
        text-align: center;
        margin: 4.5rem 0rem 0rem;
    }
    &__secondtitle{
        font-family: 'Bold';
        font-size: 2.4rem;
        color:white;
        margin: 2.4rem 0rem 2.4rem;
    }
    &__button{
        cursor: pointer;
        text-decoration: none;
        font-family: 'Bold';
        font-size: 1.4rem;
        color: white;
        padding: 1.5rem 8.5rem;
        border: 1px solid white;
    }
}
.banner__button:hover{
    color: black;
    border: 1px solid black;
}
.secondscreen{
    width: 100%;
    height: 61rem;
    background-image: url(../img/banner2.jpg);
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    &__contant{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__maintitle{
        font-family: 'Bold';
        font-size: 6rem;
        color: white;
        text-align: center;
        margin: 20rem 0rem 0rem;
    }
    &__secondtitle{
        font-family: 'Bold';
        font-size: 2.4rem;
        color:white;
        margin: 4rem 0rem 10rem;
    }
    &__button{
        cursor: pointer;
        text-decoration: none;
        font-family: 'Bold';
        font-size: 1.4rem;
        color: white;
        padding: 1.5rem 8.5rem;
        border: 1px solid white;
    }
}
.secondscreen__button:hover{
    color: black;
    border: 1px solid black;
}
.gallery{
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__maintitle{
        font-family: "Bold";
        font-size: 2.4rem;
        color: black;
    }
    &__menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__menutitle{
        cursor: pointer;
        font-family: "Light";
        font-size: 1.4rem;
        color: black;
        border: 1px solid #000;
        padding: 0.5rem 2.5rem;
        margin: 2rem 1rem;
    }
    &__contant{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__item{
        width: 19rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__image--title{
        font-family: "Light";
        font-size: 1.4rem;
        color: #000;
    }
    &__image--price{
        font-family: "Light";
        font-size: 1.4rem;
        color: #000;
        margin: 0;
    }
    &__button{
        cursor: pointer;
        font-family: "Ft";
        font-size: 6rem;
        color: #000;
        margin: 1.5rem;
    }
}
.gallery__menutitle:hover{
    background-color: #000;
    color: white;
}
.thirdscreen{
    &__contant{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__item{
        width: 56rem;
        height: 62rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem 1rem;
    }
    &__title{
        width: 80%;
        text-align: center;
        font-family: "Bold";
        font-size: 4rem;
        color:white;
        margin: 20rem 0rem 15rem;
    }
    &__button{
        cursor: pointer;
        text-decoration: none;
        font-family: 'Bold';
        font-size: 1.4rem;
        color: white;
        padding: 1.5rem 8.5rem;
        border: 1px solid white;
    }
}
.thirdscreen__button:hover{
    color: black;
    border: 1px solid black;
}
.first--item{
    background-image: url(../img/banner3.jpg);
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.second--item{
    background-image: url(../img/banner4.jpg);
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.instgallery{
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__maintitle{
        font-family: "Bold";
        font-size: 2.4rem;
        color: black;
        margin: 2rem 0rem;
    }
    &__contant{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__button{
        cursor: pointer;
        text-decoration: none;
        font-family: 'Bold';
        font-size: 1.4rem;
        color: #000;
        padding: 1.5rem 8.5rem;
        border: 1px solid #000;
        margin: 2rem 0rem;
    }
    &__item{
        width: 26.5rem;
        height: 36rem;
        margin: 0rem 1.3rem;
    }
    &__image{
        width: 100%;
    }
}
.instgallery__button:hover{
    background-color: #000;
    color: white;
}
.foursscreen{
    &__contant{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__item{
        width: 56rem;
        height: 62rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem 1rem;
    }
    &__title{
        width: 65%;
        text-align: center;
        font-family: "Bold";
        font-size: 4rem;
        color:white;
        margin: 20rem 0rem 13rem;
    }
    &__button{
        cursor: pointer;
        text-decoration: none;
        font-family: 'Bold';
        font-size: 1.4rem;
        color: white;
        padding: 1.5rem 8.5rem;
        border: 1px solid white;
    }
}
.foursscreen__button:hover{
    color: black;
    border: 1px solid black;
}
.third--item{
    background-image: url(../img/banner5.jpg);
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.fours--item{
    background-image: url(../img/banner6.jpg);
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.contacts{
    &__contant{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: 1px solid #e9e9e9;
    }
    &__title{
        font-family: "Light";
        font-size: 1.4rem;
        font-weight: 600;
        color: #000;
        padding: 1rem 2rem;
    }
}
.footer{
    background-color: #e9e9e9;
    margin: 0rem;
    padding-bottom: 3rem;
    &__contant{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__item{
        margin: 1rem 2rem;
        width: 14rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__maintitle{
        margin-bottom: 2rem;
        font-family: "Light";
        font-size: 1.4rem;
        font-weight: 600;
        color: #000;
    }
    &__secondtitle{
        font-family: "Light";
        font-size: 1.2rem;
        color: #666666;
    }
    &__button{
        cursor: pointer;
        margin-top: 2rem;
        text-decoration: none;
        font-family: 'Bold';
        font-size: 1.4rem;
        color: white;
        padding: 1.5rem 5.5rem;
        border: 1px solid #000;
        background-color: #000;
    }
    &__links{
        width: 54rem;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__icon{
        text-decoration: none;
        font-family: "Ft";
        font-size: 3rem;
        color: #000;
        padding: 1rem;
    }
    &__text{
        font-family: "Light";
        font-size: 1.4rem;
        color: #666666;
        text-align: center;
    }
    &__copyright{
        margin: 3rem 1rem 3rem;
        font-family: "Light";
        font-size: 1.4rem;
        color: #666666; 
    }
    &__icon--little{
        font-size: 2.6rem;
    }
}
.footer__button:hover{
    color: #000;
    background-color: white;
}
.item--big{
    width: 26rem;
}
@media(max-width:1140px){
    .container{
        width: 96%;
    }
    .gallery{
        &__items{
            flex-wrap: wrap;
        }
    }
} 
@media(max-width:1024px){
    .container{
        width: 96%;
    }
    .header{
        &__links{
            margin-left: 7rem;}
        &__phone{
            margin-right: 7rem;
        }
        &__number{
            font-family: "Light";
            font-size: 1.4rem;
            color: #666666;
        }
        &__form{
            margin-left: 7rem;
        }
        .icon--last{
            margin-right:7rem;
        }
        .icon--last{
            margin-right: 7rem;
        }
        &__menu--title{
            padding: 0.5rem 1rem;
        }
    }
    .banner{
        &__maintitle{
            font-size: 3.6rem;
            margin: 4rem 0rem 0rem;
        }
        &__secondtitle{
            font-size: 2rem;
            margin: 2.4rem 0rem 2.4rem;
        }
    }
    .secondscreen{
        &__maintitle{
            font-family: 'Bold';
            font-size:5.4rem;
            color: white;
            text-align: center;
            margin: 17rem 0rem 0rem;
        }
        &__secondtitle{
            font-family: 'Bold';
            font-size: 2rem;
            color:white;
            margin: 4rem 0rem 10rem;
        }
    }
    .thirdscreen{
        &__title{
            width: 80%;
            text-align: center;
            font-family: "Bold";
            font-size: 3.6rem;
            color:white;
            margin: 15rem 0rem 15rem;
        }
    }
    .instgallery{
        &__contant{
            flex-wrap: wrap;
        }
        &__button{
            cursor: pointer;
            text-decoration: none;
            font-family: 'Bold';
            font-size: 1.4rem;
            color: #000;
            padding: 1.5rem 8.5rem;
            border: 1px solid #000;
            margin: 2rem 0rem;
        }
        &__item{
            width: 26.5rem;
            height: 36rem;
            margin: 1rem 1.3rem;
        }
    }
    .foursscreen{
        &__title{
            width: 65%;
            text-align: center;
            font-family: "Bold";
            font-size: 3.6rem;
            color:white;
            margin: 16rem 0rem 13rem;
        }
    } 
    .footer{
        &__menu{
           flex-wrap: wrap;
        }
    }       
}
@media(max-width:768px){
    html{
        font-size: 8px;
    }
    .container{
        width: 96%;
    }
    .header{
        &__links{
            margin-left: 3rem;}
        &__phone{
            margin-right: 3rem;
        }
        &__number{
            font-family: "Light";
            font-size: 1.4rem;
            color: #666666;
        }
        &__form{
            margin-left: 3rem;
        }
        &__input{
            width: 12rem;
        }
        &__icon--logo{
            margin-right: 1rem;
        }
        .icon--last{
            margin-right: 0rem;
        }
        &__menu{
            flex-direction: column;
            align-items: center;
        }
        &__menu--title{
            font-size: 2.2rem;
        }
    }
    .banner{
        &__maintitle{
            font-size: 3.4rem;
            margin: 2.8rem 0rem 0rem;
        }
        &__secondtitle{
            font-size: 2rem;
            margin: 2rem 0rem 2rem;
        }
    }
    .secondscreen{
        &__maintitle{
            font-size:4.8rem;
            margin: 12rem 0rem 0rem;
        }
        &__secondtitle{
            margin: 4rem 0rem 4rem;
        }
    }
    .gallery{
        &__menu{
           flex-wrap: wrap;
        }
        &__menutitle{
            width: 11rem;
            text-align: center;
        }
    }
    .thirdscreen{
        &__title{
            font-size: 3rem;
            margin: 12rem 0rem 12rem;
        }
        &__contant{
         flex-wrap: wrap;
        }
        &__item{
            margin: 1rem 1rem;
        }
    }
    .instgallery{
        &__button{
            font-size: 1.4rem;
            padding: 1.5rem 3.5rem;
            margin: 2rem 0rem;
        }
        &__maintitle{
            font-size: 2.2rem;
        }
    }
    .foursscreen{
        &__title{
            width: 65%;
            font-size: 3rem;
            margin: 12rem 0rem 12rem;
        }
        &__contant{
            flex-wrap: wrap;
        }
        &__item{
            margin: 1rem 1rem;
        }
    } 
    .contacts{  
        &__title{
            font-size: 1.2rem;
            padding: 1rem 1rem;
        }
    }
    .footer{
        &__menu{
           flex-wrap: wrap;
        }
        &__links{
            width: auto;
            margin: 1rem;
        } 
    }       
}
@media(max-width:600px){
    .gallery{
       &__button{
           display: none;
       }
    }
}
@media(max-width:320px){
    html{
        font-size: 7px;
    }
    .header{
        &__form{
            margin-left: 1rem;
        }
    }
    .footer{
        &__maintitle{
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
        &__secondtitle{
            font-size: 1.7rem;
        }
        &__item{
            width: 80%;
        }
        &__text{
            font-size: 1.7rem;
        }
    }
}
